.minutecss{
    padding:4px;
	height:100%;
    border-top: 1px solid #a3bad9;
    background: #dfecfb url(../images/default/shared/glass-bg.gif) repeat-x left top;	
}
.l-hour-middle,.l-hour-left,.l-hour-right {
	font:bold 11px "sans serif", tahoma, verdana, helvetica;
	overflow:hidden;
}

.l-hour-right, .l-hour-left {
	width:18px;
}
.l-hour-right{
	text-align:right;
}
.l-hour-middle {
	padding-top:2px;
	padding-bottom:2px;
	color:#0000ff;
	white-space: nowrap;
	line-height:19px;
}
.l-datetimediv-middle {
	height:19px;
	font-size:11px;
	float:left;
}
.l-hour-right a, .l-hour-left a{
	display:block;
	width:16px;
	height:16px;
	background-position: center;
	background-repeat: no-repeat;
	cursor:pointer;
}

.l-hour-right a {
	background-image: url(../images/default/datetime/arrowRight.gif);
	margin-right:2px;
}
.l-hour-left a{
	background-image: url(../images/default/datetime/arrowLeft.gif);
	margin-left:2px;
}    
.l-minute-middle,.l-minute-left,.l-minute-right {
	font:bold 11px "sans serif", tahoma, verdana, helvetica;
	overflow:hidden;
}

.l-minute-right, .l-minute-left {
	width:18px;
}
.l-minute-right{
	text-align:right;
}
.l-minute-middle {
	padding-top:2px;
	padding-bottom:2px;
	color:#0000ff;
	white-space: nowrap;
	line-height:19px;
}
.l-minute-right a, .l-minute-left a{
	display:block;
	width:16px;
	height:16px;
	background-position: center;
	background-repeat: no-repeat;
	cursor:pointer;
}

.l-minute-right a {
	background-image: url(../images/default/datetime/arrowRight.gif);
	margin-right:2px;
}
.l-minute-left a{
	background-image: url(../images/default/datetime/arrowLeft.gif);
	margin-left:2px;
}
.l-datetime-inner {
	border-collapse:separate;
}
.l-datetime-inner th {
    background: #dfecfb url(../images/default/shared/glass-bg.gif) repeat-x left top;
    text-align:right !important;
	border-bottom: 1px solid #a3bad9;
    font:normal 10px arial, helvetica,tahoma,sans-serif;
	color:#233d6d;
	cursor:default;
    padding:0;
    border-collapse:separate;
}
.l-datetime-inner th span {
    display:block;
    padding:2px;
    padding-right:7px;
}
.l-datetime-inner td {
    border: 1px solid #fff;
	text-align:right;
    padding:0;
}
.l-datetime-inner a {
    padding:2px 5px;
    display:block;
    font:normal 11px arial, helvetica,tahoma,sans-serif;
	text-decoration:none;
    color:black;
    text-align:right;
    zoom:1;
}
.l-datetime-inner .l-date-active{
	cursor:pointer;
	color:black;
}
.l-datetime-inner .l-date-selected a{
	background: #dfecfb url(../images/default/shared/glass-bg.gif) repeat-x left top;
	border:1px solid #8db2e3;
   padding:1px 4px;
}
.l-date-selected2 a{
	background: #dfecfb url(../images/default/shared/glass-bg.gif) repeat-x left top;
	border:0px solid #8db2e3;
   	padding:1px 4px;
}
.l-datetime-inner .l-date-today a{
	border: 1px solid darkred;
    padding:1px 4px;
}
.l-datetime-inner .l-date-selected span{
    font-weight:bold;
}
.l-datetime-inner .l-date-prevday a,.l-datetime-inner .l-date-nextday a {
	color:#aaaaaa;
    text-decoration:none !important;
}
.l-datetime-inner a:hover, .l-datetime-inner .l-date-disabled a:hover{
    text-decoration:none !important;
    color:black;
    background: #ddecfe;
}

.l-datetime-inner .l-date-disabled a {
	cursor:default;
	background:#eeeeee;
	color:#bbbbbb;
}