@media print {
	.noprint {
		display: none
	}
}

td {
    height:35px;
	text-align: center;
	font-size: 12pt;
	font-weight: normal;
	border-top: #000 1px solid;
	border-left: #000 1px solid;
}

.tdTitle {
	text-align: center;
	font-weight: bold;
}

.lastCol {
	border-right: #000 1px solid;
}
.lastRow {
	border-bottom: #000 1px solid;
}

.printBtn {
	font-size: 11pt;
}

.printTitle{
	border: none; text-align: center; font-size: 15pt; font-weight: bold
}